main {
    margin-top: 150px;
    display: grid;
    perspective: 600px;
  }
  
  .container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  
  .large {
    grid-row: 3;
    grid-column: 1;
    height: 80px;
    width: 300px;
  }
  
  .medium {
    grid-row: 2;
    grid-column: 1;
    height: 240px;
    width: 265px;
  }
  
  .small {
    grid-row: 1;
    grid-column: 1;
    height: 90px;
    width: 240px;
  }
  
  .cube {
    width: 300px;
    height: 100px;
    transform-style: preserve-3d;
    transform: translateZ(150px) rotateX(-20deg) rotateY(-40deg);
    position: relative;
  }
  
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  
  .front {
    background: #E0BD8B;
    transform: rotateY(0deg) translateZ(100px);
    height: 100px;
  }
  
  .right {
    background: #C8A779;
    transform: rotateY(90deg) translateZ(100px);
    height: 100px;
  }
  
  .top {
    background: #f3cc96;
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .mcube {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: translateZ(150px) rotateX(-20deg) rotateY(-40deg);
    position: relative;
  }
  
  .mface {
    position: absolute;
    width: 250px;
    height: 250px;
  }
  
  .mfront {
    background: #E0BD8B;
    transform: rotateY(0deg) translateZ(125px);
    height: 250px;
  }
  
  .mright {
    background: #C8A779;
    transform: rotateY(90deg) translateZ(125px);
    height: 250px;
  }
  
  .mtop {
    background: #F3CC96;
    transform: rotateX(90deg) translateZ(125px);
  }
  
  .lcube {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: translateZ(150px) rotateX(-20deg) rotateY(-40deg);
    position: relative;
  /*   top: 40px; */
    
  }
  
  .lface {
    position: absolute;
    width: 300px;
    height: 300px;
  }
  
  .lfront {
    background: #E0BD8B;
    transform: rotateY(0deg) translateZ(150px);
    height: 100px;
  }
  
  .lright {
    background: #C8A779;
    transform: rotateY(90deg) translateZ(150px);
    height: 100px;
  }
  
  .ltop {
    background: #F3CC96;
    transform: rotateX(90deg) translateZ(150px);
  }
  
  .tralle {
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ(150px) rotateX(-20deg) rotateY(-40deg);
    position: relative;
    top: 40px;
  }
  
  .tralleface {
    position: absolute;
    width: 400px;
    height: 400px;
  }
  
  .trallefront {
    background: #7a7a7a;
    transform: rotateY(0deg) translateZ(300px);
    height: 20px;
    width: 400px;
  }
  
  .tralleright {
    background: #555555;
    transform: rotateY(90deg) translateZ(100px);
    height: 20px;
    width: 600px;
  }
  
  .tralletop {
    background: #a8a8a8;
    transform: rotateX(90deg) translateZ(300px);
    width: 400px;
    height: 600px;
  }
  
  .container--tralle {
    grid-row: 4;
    height: 600px;
    width: 500px;
  }
  
  .container--patch {
    width: 50px;
    height: 50px;
    position: relative;
  }
  
  .wpatch {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: white;
    margin: 10px;
  }
  
  .bpatch {
    width: 40px;
    height: 10px;
    position: absolute;
    background-color: #333333;
    margin: 4px;
  }
  
  .container--tape {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .tape {
    width: 200px;
    height: 50px;
    background-color: #696969;
  }
  
  .tape--right {
    width: 50px;
    height: 50px;
    background-color: #535353;
    margin: 0 auto;
  }
  
  .tape--medium {
    margin: 100px 200px;
  }
  
  .tape--large {
    margin: 125px 250px;
  }
  
  .wheel--container {
    grid-row: 4;
    position: absolute;
    display: grid;
    grid-template-columns: 350px 300px 1fr;
    grid-template-rows: 50px 1fr 80px;
  }
  
  .wheel {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  /*   background-color: black; */
    background: radial-gradient(circle at 100px 100px, #ffffff, #000);
  /*   position: absolute; */
    box-shadow: 0 2px 2px #000000;
  }
  
  .wheel--1 {
    grid-row: 2;
    grid-column: 3;
  }
  
  .wheel--2 {
    grid-row: 4;
    grid-column: 2;
  }
  
  .handle--container {
    grid-row: 1;
    grid-column: 2;
    position: absolute;
  }
  
  .handle {
    width: 20px;
    height: 100px;
    background-color: #7a7a7a;
  }
  