/* variable declarations */
:root {
    --box2height: 140px;
    --groundcolor: #4e4e4e;
}

/* body settings */
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b;
}

.content {
    width:40%;
    margin: auto;
    padding-top: 12%;
}

/* link settings */
a {
    text-decoration: none;
    color: #1b1b1b;
}

a:hover {
    color: lightgreen;
  }

a:active {
    color: lightgoldenrodyellow;
  } 

a:visited {
    color: violet;
  }
li{
    list-style-type: none;
    padding: 12px;
}

li:before {
    height: 35px;
    width: 35px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 50%;
    display: inline-block;
    content: '';
    vertical-align: middle;
    position: relative;
    margin-right: 12px;
  }

 /* boxes stylings */
 .box {
    width: 400px;
    height: 200px;
    transform-style: preserve-3d;
    transform:rotateX(-45deg) rotateY(-45deg);
    position: relative;
    top: 200px;
    /* border: 1px solid red; */
  }

  .boxface {
    position: absolute;
    width: 400px;
    height: 400px;
  }
  
  .boxleft {
    background: var(--groundcolor);
    transform: rotateY(0deg) translateZ(300px);
    height: 20px;
    width: 400px;
  }
  
  .boxright {
    background: var(--groundcolor);
    transform: rotateY(90deg) translateZ(100px);
    height: 20px;
    width: 600px;
  }
  
  .boxtop {
    background: var(--groundcolor);
    transform: rotateX(90deg) translateZ(300px);
    width: 400px;
    height: 600px;
  }


  /* boxes stylings 2 */
 .box2 {
    width: 200px;
    height: 100px;
    transform-style: preserve-3d;
    transform:rotateX(-45deg) rotateY(-45deg);
    position: relative;
    border: 10px solid red;
    bottom: 50px;
  }

  .boxface2 {
    position: absolute;
    background: orange;
  }
  
  .boxleft2 {
    /* background: orange; */
    transform: rotateY(0deg) translateZ(50px);
    height: var(--box2height);
    width: 200px;
  }
  
  .boxright2 {
    transform: rotateY(90deg) translateZ(150px);
    height: var(--box2height);
    width: 100px;
  }
  
  .boxtop2 {
    /* background: greenyellow; */
    transform: rotateX(90deg) translateZ(50px);
    width: 200px;
    height: 100px;
  }

 /* falling animation */
@keyframes falling {
    0.0%{
        transform: translate(0px, -400px);
    }
    100%{
    }
    80.3%{
        transform: translate(0);
    }
    90.1%{
        transform: translate(0, -20px);
    }
}

/* part to be animated */
.box2{
    animation: falling 1s linear 0s infinite normal none;
} 
