body {
    margin: 0;
    padding: 0;
    background-color: turquoise;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

header {
    padding-top: 12%;
    text-align: center;
    filter: drop-shadow(2px 2px 2px black);
}
