/*Group car css below*/
:root {
  /* clouds color */
--cloud: #79dafa;
 /* box color */
--box: #C2B280;
--box-shadow: #A7947A;
/* spaces in between palettes */
--spacer: #7a5b3b;
/* border variable */
--border: 1px solid black;
--box-color1: rgb(219, 187, 74);
--box-color2: #efbf14;
--box-color3: #b2942b;
--trolley-color: rgb(112, 109, 109);
--wheel-color: black;
--white-cube-color: white;
--dark-line-color: #424242;
--top-line-color: #a3a0a0;
--nth-child-color: #d306ea;
--groundcolor: #4e4e4e;
}

body {
  margin: 0;
  padding: 0;
  background-color: turquoise;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  /* background-color: pink; */
}

header {
  padding-top: 2%;
  text-align: center;
  filter: drop-shadow(2px 2px 2px black);
}

.main{
perspective: 200px;
}

.esker {
display: grid;
grid-template-columns: 50px 60px 50px 60px;
grid-template-rows: 51px 51px;
margin-left: 275px;
margin-top: 100px;
}

.container{
width: 150px;
height: 120px;  
}

.box{
position: absolute;
height: 100px;
width: 50px;
}

.package-wrapper{
height: 100px;
width: 100px;
transform-style: preserve-3d;
transform: translateZ(100px) rotateX(0deg) rotateY(0deg);
position: relative;
}

.package1 {
grid-row: 3;
grid-column: 1;
}

.package2 {
grid-row: 3;
grid-column: 2;
}

.package3 {
grid-row: 3;
grid-column: 3;
}

.package4 {
grid-row: 3;
grid-column: 4;
}

.package5 {
grid-row: 2;
grid-column: 1;
}

.package6 {
grid-row: 2;
grid-column: 2;
}

.package7 {
grid-row: 2;
grid-column: 3;
}

.package8 {
grid-row: 2;
grid-column: 4;
}

.package9 {
grid-row: 1;
grid-column: 2;
}

.package10 {
grid-row: 1;
grid-column: 3;
}

.package10 {
height: 100px;
width: 100px;
transform-style: preserve-3d;
transform: translateZ(100px) rotateX(0deg) rotateY(0deg);
position: relative;
}

/* the fronts of the boxes */
.frontface{
background: var(--box);
height: 50px;
transform: rotateY(20deg) translateZ(100px);
border: var(--border);
}

.rightface{
background: var(--box-shadow);
transform: rotateY(70deg) translateZ(70px);
border: var(--border);
height: 50px;
}


/* palett on the truck
this is the start of the pallette */

.palle {
width: 224px;
height: 100px;
background: #dbae51;
margin-left: 310px;
height: 30px;
position: relative;
margin-top: -68px;
border: var(--border);
 transform-style: preserve-3d;
transform: translateZ(100px) rotateX(0deg) rotateY(0deg);
}

.facep{
position: absolute;
height: 100px;
width: 50px;
}

.frontp{
height: 30px;
width: 218px;
transform: rotateY(20deg) translateZ(-20px);

}

.rightp{
background: #986f3a;
transform: rotateY(70deg) translateZ(202px);
border: var(--border);
height: 30px;
margin-top: -1px;
}

.spacer{
background:var(--spacer);
width: 40px;
height: 25px;
margin-top: 2px
}

.space1{
margin-left: 13px;
}

.space2{
margin-left: 50px;
}

.space3{
margin-left: 50px;
}

.space4{
margin-left: 53px;
}

.bed{
background: #474747;
width: 240px;
height: 30px;
margin-left: 300px;
border-radius: 5%;
}

.square{
width: 30px;
height: 30px;  
background: #ababab;
margin-left: 289px;
margin-top: -50px; 
}

/* carriage on bottom of truck */
.black{
width: 440px;
height: 40px;
background: #292929;
margin-left: 300px;
border-radius: 0px 0px 16px 16px;
margin-top: -4px;
}

.wheelback{
background: #404040;
width: 60px;
height: 60px;
border-radius: 50%;
margin-left: 350px;
margin-top: -23px
}

.rimback{
background: #ababab;
height: 30px;
width: 30px;
border-radius: 50%;
margin-left: 365px;
margin-top: -45px;
}

.guard{
width: 65px;
  height: 25px; 
  border-top-left-radius: 140px;  
  border-top-right-radius: 140px; 
  border: 15px solid #3f3f3f;
  border-bottom: 0;
}

.guardback{
  margin-left: 332px;
margin-top: -45px;
}

.wheelfront{
background: #404040;
width: 60px;
height: 60px;
border-radius: 50%;
margin-left: 612px;
margin-top: -45px;
position: absolute;
}

.rimfront{
background: #ababab;
height: 30px;
width: 30px;
border-radius: 50%;
margin-left: 627px;
margin-top: -30px;
position: absolute;
}

.guardfront{
  margin-left: 595px;
margin-top: -62px;
position: absolute;
}

.truck {
transform-style: preserve-3d;
  width:140px;
  height:115px;
 position: absolute;
margin:300px 0 0 270px;
display:block;
transform: scale(1.6);
margin-top: -180px;
margin-left: 270px;
}

.truck *{ position:absolute;

}



.truck #front{

  width: 70px;
  height: 0;
  margin:20px 0 0 190px;
border-bottom: 95px solid rgb(185, 196, 211);
border-right: 50px solid transparent;
  
}


.truck #front::before{

content:'';
  width: 20px;
height:7.5px;
margin:52px 0 0 17px;
  border-radius:7px;
  background-color:rgb(209, 126, 31);
position:absolute;
z-index:2000;
}

.truck #bumperTruck{

  width: 70px;
height: 45px;
  margin:70px 0 0 240px;
background-color:rgb(185, 196, 211);
}

.truck #bumperTruck::after{

content:'';
  width: 75px;
height: 45px;
margin:-12px 0 0 -4px;
position:absolute;
background-color:rgb(185, 196, 211);
}

.truck #front #window{

  width: 55px;
  height: 0.5px;;
margin:5px 0 0 10px;
border-bottom: 35px solid rgb(38, 150, 150);
border-right: 19px solid transparent;
  border-radius:10px 0 0 0;
z-index:1000;
}

.truck #front #bumperFront{

  width: 30px;
height:18px;
margin:77px 0 0 95px;
  background-color: lightgrey;
z-index:1000;
}

.truck #front #bumperFront::after{

content:'';
  width: 10px;
height:19px;
margin:-21px 0 0 15px;
  border-radius:6px 0 0 0;
border-top:1px solid rgb(230, 207, 8);
  position:absolute;
  background-color: rgb(243, 169, 9);
z-index:1000;
}

.frontc{
background-color:#9cc1d3;
height: 40px;
width: 25px;
margin-left: 80px;
transform: skew(29deg);
transform-style: preserve-3d;

}

.frontwi{
 background-color: #269696;
height: 33px;
width: 20px;
margin-left: 85px;
transform: skew(29deg);
transform-style: preserve-3d;
margin-top: 5px;
border-radius: 3px 3px 0px 0px;
}

.front3d{
transform-style: preserve-3d;
height: 50px;
width: 20px;
background-color: #9cc1d3;
margin-left: 120px;
margin-top: 38px;
transform: rotateY(20deg);
border-radius: 0px 6px 6px 0px;
}

.light1{
background: #0784a2;
height: 15px;
width:7px;
margin-left: 120px;
margin-top: 60px;
}

.light2{
background: #0784a2;
height: 15px;
width:5px;
margin-left: 133px;
margin-top: 60px;
}

.bumper3d{
background: #ababab;
width: 19px;
height:18px;
margin-left: 122px;
margin-top: 77px;
transform: rotateY(40deg);
border-radius: 0px 0px 3px 0px;
}

/* cloud element */
.cloud {
  height: 25px;
  width: 100px;
  position: absolute;
  background-color: var(--cloud);
  border-radius: 200px;
  bottom: 400px;
  left: -50px;
  z-index: -2;
}

.cloud2 {
  height: 100px;
  width: 200px;
  position: absolute;
  background-color: var(--cloud);
  border-radius: 300px;
  bottom: 400px;
  z-index: -2;
}

.cloud3 {
  height: 50px;
  width: 150px;
  position: absolute;
  background-color: var(--cloud);
  border-radius: 300px;
  bottom: 400px;
  left: 150px;
}

.ground {
  width: 100%;
  height: 22%;
  position: absolute;
  top: 78%;
  background-color: rgb(187, 240, 252);
  display: block;
}


.tree-trunk {
  width: 20px;
  height: 80px;
  position: absolute;
  background-color: rgb(142, 70, 25);
  bottom: 22%;
  left: 40px;
  z-index: -1;
}

.tree-top {
  width: 100px;
  height: 320px;
  border-radius: 100px;
  position: absolute;
  background-color: lightgreen;
  top: 120px;
  z-index: -1;
}


.tree-trunk2 {
  width: 20px;
  height: 120px;
  position: absolute;
  background-color: rgb(142, 70, 25);
  bottom: 22%;
  left: 730px;
  z-index: -1;
}

.tree-top2 {
  width: 80px;
  height: 280px;
  border-radius: 100px;
  position: absolute;
  background-color: lightgreen;
  left: 700px;
  top: 120px;
  z-index: -1;
}

/* truck code to be replaced */
.car {
  width: 400px;
  height: 200px;
  left: 200px;
  bottom: 22%;
  position: absolute;
  background-color: red;
}
/* animation keyframes for right to left movement for backgrounds */
@keyframes rightToLeft {
  0.0%{
      transform: translate(2000px);
  }
  100%{
      transform: translate(-800px);
  }
}

/* animating backgrounds  */
.cloud{
  animation: rightToLeft  5s linear 0s infinite normal none;
} 

.cloud2{
  animation: rightToLeft  5s linear 0s infinite normal none;
} 

.cloud3{
  animation: rightToLeft  5s linear 0s infinite normal none;
} 

.tree-top {
   animation: rightToLeft  4s linear 0s infinite normal none;
}

.tree-trunk {
   animation: rightToLeft  4s linear 0s infinite normal none;
}

.tree-top2 {
   animation: rightToLeft  4s linear 0s infinite normal none;
}

.tree-trunk2 {
   animation: rightToLeft  4s linear 0s infinite normal none;
}

/* keyframes for bouncing of boxes */
@keyframes carBounce {
  0.0%{
  }
  100%{
      transform: rotate(-2deg);
  }
  19.9%{
      transform: translate(0, 5px) rotate(-4deg);
  }
  49.8%{
      transform: translate(0, -2px) rotate(8deg);
  }
}


/* animating bouncing of boxes */
.esker{
  animation: carBounce 1s linear 0s infinite normal none;
}

/* keyframes of truckmovement */
@keyframes truckMovement {
0.0%{
}
10.1%{
    transform: rotate(-5deg) translate(-10px);
}
100%{
    transform: rotate(0) translate(0);
}
49.8%{
    transform: rotate(10deg) translate(10px);
}
}


/* animating truck */
.guard{
animation: truckMovement 1s ease 0s infinite normal none;
}

/*Karina css below*/
* {
    font-family: 'Roboto', sans-serif;
}

/* :root {
    --box-color1: rgb(219, 187, 74);
    --box-color2: #efbf14;
    --box-color3: #b2942b;
    --trolley-color: rgb(112, 109, 109);
    --wheel-color: black;
    --white-cube-color: white;
    --dark-line-color: #424242;
    --top-line-color: #a3a0a0;
    --nth-child-color: #d306ea;
    --groundcolor: #4e4e4e;
  } */

 div h1 {
    margin-left: 160px;
    text-shadow: 0.9px 0.4px 1px;
    transition: transform 500ms, background 500ms;
  }
  
  li:before {
    height: 35px;
    width: 35px;
    background: linear-gradient(to left, #2f0244, #a80ad8);
    border-radius: 50%;
    display: inline-block;
    content: '';
    vertical-align: middle;
    position: relative;
  }
  
  ul {
    position: relative;
    font-size: 150%;
    margin-left: 115px;
  }
  
  li {
    list-style: none;
    margin-top: 41.5px;
  }

 h1:nth-child(1) {
  background: var(--nth-child-color);
  width: 275px;
  }
  
 h1:hover {
  background: var(--nth-child-color);
  font-size: 45px;
  transform: rotate(25deg)
}

 a:link {
  color: blue;
}

 a:visited {
  color: purple;
}

 a:hover {
  color: green;
}

 a:active {
  color: red;
}

 ::selection {
  color: green;
  background: orange;
}

  .side {
    height: 100%;
    width: 100px;
    position: fixed;
    background: linear-gradient(to bottom, 
  #2f0244, #a80ad8);
    top: 0%;
    left: 0%;
    transition: width 1.7s;
  }

 .side:hover {
  width: 160px;
}


  .package_trolley {
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ(150px) rotateX(-20deg) rotateY(-40deg);
    margin-top: 330px;
    margin-left: 630px;
    position: relative;
  }
  
  .front_side {
    height: 28px;
    width: 450px;
    background: var(--trolley-color);
    transform: rotateY(-6.5deg) rotateZ(1deg) rotateX(6deg) translateZ(115px);
    margin-top:-60px;
    margin-left:-40px;
    border: solid black 1px;
  }
  
  .right_side {
    height: 28px;
    width: 450px;
    background: var(--trolley-color);
    transform: rotateZ(-10deg) rotateY(-95deg) rotateX(12deg);
    margin-top: -75px;
    margin-left: 260px;
    border: solid black 1px;
  }
  
  .top {
    width: 450px;
    height: 450px;
    background: var(--trolley-color);
    transform: rotateX(90deg) rotateY(2.5deg) rotateZ(4deg);
    margin-top:-275px;
    margin-left:55px;
    border: solid black 1px;
  }

 .detail {
  transform: rotateZ(-12deg) rotateY(-39deg) rotateX(20deg);
  margin-top:-620px;
  margin-left: 900px;
}

 .big_piece {
  transform: rotateY(20deg);
}

 .one_stand {
  margin-left: 90px;
  margin-top: 40px;
}

 .stand1 {
  height: 300px;
  width: 50px;
  background: var(--dark-line-color);
  transform: rotateY(-50deg);
}

 .stand2 {
  width: 15px;
  height: 300px;
  background: var(--top-line-color);
  margin-top: -300px;
  margin-left: 37px;
  transform: rotateY(35deg);
}

 .big_piece--front {
  width: 150px;
  height: 50px;
  background: var(--dark-line-color);
  transform: rotateZ(11deg);
  margin-top: -300px;
  margin-left: 25px;
 
}

 .big_piece--top {
  width: 150px;
  height: 20px;
  transform: rotateZ(12deg) rotateY(-20deg) rotateX(72deg);
  background: var(--top-line-color);
  margin-top: -44px;
  margin-left: 45px;
  position: absolute;
   
}

 .big_piece--right {
  width: 20px;
  height: 53px;
  background: var(--top-line-color);
  transform: rotateZ(8deg) rotateX(-5deg) rotateY(60deg);
  margin-left: 176px;
  margin-top: -22px;
  position: absolute;
}

 .white_board {
  width: 100px;
  height: 40px;
  transform: translateZ(20px) rotateZ(11deg);
  background: var(--white-cube-color);
  margin-top: -47.5px;
  margin-left: 37px;
}

 .white_board_line {
  width: 80px;
  height: 5px;
  background: var(--dark-line-color);
  margin-left: 10px;
  margin-top: 2px;
}

.small_line1 {
  width: 0;
  height: 0;
  transform: translateZ(20px) rotateZ(11deg);
  background: var(--white-cube-color);
  margin-left: 159px;
  margin-top: -40px;
}

 .small_line2 {
  width: 15px;
  height: 9px;
  transform: translateZ(20px) rotateZ(11deg);
  background: var(--white-cube-color);
  margin-top: 19px;
  margin-left: 147px;
}

 .small_line3 {
  width: 15px;
  height: 9px;
  background: var(--white-cube-color);
  transform: translateZ(20px) rotateZ(11deg);
  margin-top: 7px;
  margin-left: 143px;
  position: absolute;
}

 .box {
  height: 270px;
  width: 270px;
  transform-style: preserve-3d;
  position: absolute;
  margin-top: -120px;
  margin-left: 440px;
  animation-name: rotate-in-2-cw;
  animation-duration: 1s;
  animation-timing-function: easeOutQuad;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
}

@keyframes rotate-in-2-cw {
    0% {  
     height: 100px;
     width: 100px;
     border-radius: 50%;
     transform: rotate(15deg);
    }
    }

 .box_face--front {
  background: var(--box-color1);
  height: 270px;
  width: 270px;
  margin-top: 180px;
  margin-left: 228px;
  position: absolute;
  transform: rotateY(-45deg) rotateZ(17deg) rotateX(-19deg)
}

 .white_cube {
  height: 80px;
  width: 80px;
  background: var(--white-cube-color);
  margin-top: 28px;
  margin-left: 15px;
  position: absolute;
}

 .white_cube_dark_line {
  height: 9px;
  width: 70px;
  background: var(--dark-line-color);
  margin-top: 1px;
  margin-left: 2px;
}

 .little_cube1 {
  height: 40px;
  width: 40px;
  background: var(--dark-line-color);
  margin-top: 215px;
  margin-left: 15px;
}

 .little_cube2 {
  height: 40px;
  width: 40px;
  background: var(--dark-line-color);
  margin-top: -40px;
  margin-left: 67px;
}

 .box_face--top {
  background: var(--box-color2);
  height: 270px;
  width: 270px;
  margin-left: 320px;;
  margin-top:5px;
  position: absolute;
  transform: rotateX(58deg) rotateY(-6deg) rotateZ(47deg);
}

 .top_line {
  background: var(--top-line-color);
  height: 50px;
  width: 270px;
  margin-top: 110px;
}

 .box_face--right {
  background: var(--box-color3);
  height: 270px;
  width: 270px;
  margin-left: 412px;;
  position: absolute;
  margin-top: 166px;
  transform: rotateZ(-29deg) rotateY(38deg) rotateX(-39deg);
}

 .little_cube3 {
  background: var(--dark-line-color);
  height: 40px;
  width: 40px;
  margin-top: 215px;
  margin-left: 215px;
}

 .little_line1 {
  background: var(--dark-line-color);
   height: 7px;
   width: 70px;
   margin-top: -25px;
   margin-left: 15px;
}

 .little_line2 {
  background: var(--dark-line-color);
  height: 7px;
  width: 70px;
  margin-top: 9.5px;
  margin-left: 15px;
}

 .top_line_part {
  background: var(--dark-line-color);
  height: 62px;
  width: 50px;
  margin-top: -253.5px;
  margin-left: 117.5px;
}

.css_drawing {
  animation-name: slide-in-elliptic-top-fwd;
  animation-duration: 2.5s;
  animation-timing-function: easeOutQuad;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
}

@keyframes slide-in-elliptic-top-fwd {
  0% {  
   height: 100px;
   width: 100px;
   border-radius: 50%;
   transform: rotate(12.5deg);
  }
  }

.wheel1, .wheel2, .wheel3 {
    background: var(--wheel-color);
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  
  .wheel1 {
   margin-left: 600px;
   margin-top: -410px  
  }
  
  .wheel2 {
   margin-left: 829px;
   margin-top: 22px;
  }


/*Haavard css below*/

:root{
  --Hbox-color: #C2B280;
  --Htrolley-color: grey;
  --Hwheel-color: black;
}

@keyframes Hrave {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}

section{
display: grid;
grid-template-rows: 10px;
}

.group{
  grid-row: 1;
  min-height: 100vh;
}

.Karina{
  grid-row: 2;
  min-height: 100vh;
}

.Haavard{
  grid-row: 3;
  min-height: 100vh;
}

.Jason{
  grid-row: 4;
  min-height: 100vh;
}



figure{
  perspective: 600px;
    display: grid;
  margin-left: 350px;
  transform: scale(0.4);
  margin-top: 0px;
  height: 300px;
}

h1{
  margin-left: 110px;
}

h3{
  margin-left: 110px;
  animation: Hrave 5s infinite;
}

::selection {
  color: white;
  background-color: black;
}

.Hside {
  height: 100%;
  position: fixed;
  width: 100px;
  top: 0%;
  z-index: 1;
  background: linear-gradient(to bottom, 
#1408a2, #8b48f2);
  left: 0%;
 
}

ul {
  font-size: 120%;
  margin-left: 110px;
  position: relative;
}

li {
  margin-top: 30px;
  list-style: none;
  &:hover{
  color: green;
}
}

li ::selection{
  color: white;
  background-color: black;
}

li:before{
  display: inline-block;
  content: '';
  height: 40px;
  width: 40px;
  background: linear-gradient(to left, #8b48f2, #1408a2);
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
  margin-right: 15px;
 
}

li:nth-last-child(2) {
  color: red;
}




.Hcontainer{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  
}

.Hbig {
  grid-row: 3;
  grid-column: 1;
  width: 350px;
  height: 50px;
}

.Hmiddle {
  grid-row: 2;
  grid-column: 1;
  width: 300px;
  height: 240px;
}

.Hlittle{
  grid-row: 1;
  grid-column: 1;
  width: 240px;
  height: 90px;
}

.Hcubem {
  height: 300px;
  width: 300px;
  transform-style: preserve-3d;
  transform: translateZ(150px) RotateX(-20deg) rotateY(-40deg);
  position: relative;
}

.Hfacem {
  position: absolute;
  height: 250px;
  width: 250px;
}

.Hfrontmid{
  background: var(--Hbox-color);
  height: 250px;
  transform: rotateY(0deg) translateZ(125px);
  border: solid black 1px;
}

.Hrightmid {
  background: var(--Hbox-color);
  border: solid black 1px;
  transform: rotateY(90deg) translateZ(125px);
  height:250px;
}

.Htopmid{
  border: solid black 1px;
  background: var(--Hbox-color);
  transform: rotateX(90deg) translateZ(125px);
}

.Hcontainer--trolley{
  width: 500px;
  height: 600px;
  grid-row: 4;
  grid-column: 1;
}

.Htrolley{
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  transform: translateZ(150px) rotateX(-20deg) rotateY(-40deg);
  position: relative;
  top: 40px;
  
}

.Htface{
  height: 400px;
  width: 400px;
  position: absolute;
}

.Htfront{
  height: 20px;
  background: var(--Htrolley-color);
  width: 400px;
  transform: rotateY(0deg) translateZ(300px);
  border: solid black 1px;
}

.Hrighttrolley {
 background: var(--Htrolley-color);
  transform: rotateY(90deg) translateZ(100px);
  height: 20px;
  width: 600px;
  border: solid black 1px;
}

.Htoptrolley{
  background: var(--Htrolley-color);
  transform: rotateX(90deg) translateZ(300px);
  width: 400px;
  height: 600px;
  border: solid black 1px;
}

.Hbcube {
  height: 300px;
  width: 300px;
  transform-style: preserve-3d;
  transform: translateZ(150px) RotateX(-20deg) rotateY(-40deg);
  position: relative;
}

.Hfaceb {
  position: absolute;
  height: 300px;
  width: 300px;
}

.Hfrontb{
  background: var(--Hbox-color);
  height: 100px;
  transform: rotateY(0deg) translateZ(150px);
  border: solid black 1px
}

.Hrightb {
  background: var(--Hbox-color);
  border: solid black 1px;
  transform: rotateY(90deg) translateZ(150px);
  height:100px;
}

.Htopb{
  border: solid black 1px;
  background: var(--Hbox-color);
  transform: rotateX(90deg) translateZ(150px);
}

.Hcubel{
  width: 300px;
  height: 100px;
  transform-style: preserve-3d;
  transform: translateZ(150px) rotateX(-20deg) rotateY(-40deg);
  position: relative;
}

.Hfacel{
  position: absolute;
  width: 200px;
  height: 200px;
}

.Hfrontl{
  background:var(--Hbox-color);
  transform: rotateY(0deg) translateZ(100px);
  height: 100px;
  border: solid black 1px;
}

.Hrightl{
  background: var(--Hbox-color);
  transform: rotateY(90deg) translateZ(100px);
  border: solid black 1px;
  height: 100px;
}

.Htopl{
  background: var(--Hbox-color);
  transform: rotateX(90deg) translateZ(100px);
  border: solid black 1px;
}

.Hstang{
  height: 400px;
  width: 10px;
  background: var(--Htrolley-color);
  margin-left: 450px;
  margin-top: -950px;
  transform: rotate(1deg);
  border-radius: 6px 6px 0px 0px;
}

div > .Hinn1{
  width: 125px;
  height: 10px;
  background: var(--Htrolley-color);
  margin-top: -250px;
  margin-left: 330px;
  transform: rotate(10deg);
  position: relative;
}

.Hinn2{
  width: 125px;
  height: 10px;
  background: var(--Htrolley-color);
  margin-top: -70px;
  margin-left: 330px;
  transform: rotate(10deg);
}

.Hskjev1{
  height: 100px;
  width: 11px;
  background: var(--Htrolley-color);
  margin-left: 475px;
  margin-top: -180px;
  border-radius: 0px 0px 6px 6px;
  transform: rotate(30deg);
}

.Hskjev2{
   height: 100px;
  width: 11px;
  background: var(--Htrolley-color);
  margin-left: 300px;
  margin-top: -135px;
  border-radius: 0px 0px 6px 6px;
  transform: rotate(30deg);
}

.Hhandle{
   height: 20px;
  width: 230px;
  background: var(--Htrolley-color);
  margin-left: 295px;
  margin-top: -82px;
  transform: rotate(10deg);
  border-radius: 6px;
}

.Hwheelfront, .Hwheelback, .Hwheelhalf{
  background: var(--Hwheel-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: -1;
}

.Hwheelfront{
    margin-left: 160px;
  margin-top: 50px
}

.Hwheelback{
 margin-left: 380px;
 margin-top: -940px;
}

.Hwheelhalf{
  margin-left: -150px;
  margin-top: -90px;
}

/*Jason css below*/
.jcontent {
  width:40%;
  margin: auto;
  padding-top: 12%;
}

/* link settings */
a {
  text-decoration: none;
  color: #1b1b1b;
}

a:hover {
  color: lightgreen;
}

a:active {
  color: lightgoldenrodyellow;
} 

a:visited {
  color: violet;
}
li{
  list-style-type: none;
  padding: 12px;
}

li:before {
  height: 35px;
  width: 35px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-radius: 50%;
  display: inline-block;
  content: '';
  vertical-align: middle;
  position: relative;
  margin-right: 12px;
}

/* boxes stylings */
.jbox {
  width: 400px;
  height: 200px;
  transform-style: preserve-3d;
  transform:rotateX(-45deg) rotateY(-45deg);
  position: relative;
  top: 200px;
  /* border: 1px solid red; */
}

.jboxface {
  position: absolute;
  width: 400px;
  height: 400px;
}

.jboxleft {
  background: var(--groundcolor);
  transform: rotateY(0deg) translateZ(300px);
  height: 20px;
  width: 400px;
}

.jboxright {
  background: var(--groundcolor);
  transform: rotateY(90deg) translateZ(100px);
  height: 20px;
  width: 600px;
}

.jboxtop {
  background: var(--groundcolor);
  transform: rotateX(90deg) translateZ(300px);
  width: 400px;
  height: 600px;
}


/* boxes stylings 2 */
.jbox2 {
  width: 200px;
  height: 100px;
  transform-style: preserve-3d;
  transform:rotateX(-45deg) rotateY(-45deg);
  position: relative;
  border: 10px solid red;
  bottom: 50px;
}

.jboxface2 {
  position: absolute;
  background: orange;
}

.jboxleft2 {
  /* background: orange; */
  transform: rotateY(0deg) translateZ(50px);
  height: 120px;
  width: 200px;
}

.jboxright2 {
  transform: rotateY(90deg) translateZ(150px);
  height: 120px;
  width: 100px;
}

.jboxtop2 {
  /* background: greenyellow; */
  transform: rotateX(90deg) translateZ(50px);
  width: 200px;
  height: 100px;
}

/* falling animation */
@keyframes falling {
  0.0%{
      transform: translate(0px, -400px);
  }
  100%{
  }
  80.3%{
      transform: translate(0);
  }
  90.1%{
      transform: translate(0, -20px);
  }
}

/* part to be animated */
.jbox2{
  animation: falling 1s linear 0s infinite normal none;
} 

