body {
    margin: 0;
    padding: 0;
    background-color: turquoise;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    /* background-color: pink; */
}

.scene {
    width: 200px;
    height: 200px;
    border: 2px solid pink;
    margin: 40px;
    /* perspective set to ortographic mode */
    /* perspective: none; */
    perspective: 600px;
  }
  
  .panel {
    width: 100%;
    height: 100%;
    background: #ebb56a;
    /* perspective function in transform property */
    transform:  rotate(45deg)
  }